{{ set(this, 'title', 'Galleries') }}
{{ set(this, 'params', { 'breadcrumbs' : [
	{ 'label' : 'Galleries' }
]}) }}


<div class="gallery-index">

	<p>
		{{  html.a('Create Gallery', path(['create']), { 'class' : 'btn btn-success'}) | raw }}
	</p>
	
	{% for gallery in model %}
		<p>
			{{ html.a('<span class="glyphicon glyphicon-eye-open"></span>',
			path('gallery/view', { 'id' : gallery.id })) | raw }}
			{{ html.a('<span class="glyphicon glyphicon-pencil"></span>',
			path('gallery/update', {'id' : gallery.id })) | raw }}
			{{ html.a('<span class="glyphicon glyphicon-trash"></span>',
			path('gallery/delete', { 'id' : gallery.id }), {
				'data' : {
					'confirm' : 'Are you sure you want to delete this item?',
					'method' : 'post',
				},
			}) | raw }}
			
			{{ gallery.title }}
		
		</p>
	{% endfor %}
	
</div>
