{{ use('yii/widgets/DetailView') }}
{{ use('kartik/file/FileInput') }}
{{ use('yii/widgets/ActiveForm') }}

{{ set(this, 'title', model.title) }}
{{ set(this, 'params', { 'breadcrumbs' : [
	{'label' : 'Galleries', 'url' : path(['index']) },
	{'label' : model.title }
	] }) }}

<div class="category-view">
	
	<p>
		{{ html.a('Update',  path('update', {'id':model.id}),
		{ 'class' : 'btn btn-primary' }) | raw }}
		{{ html.a('Delete', path('delete', {'id':model.id}),
		{ 'class' : 'btn btn-danger', 'data' :
			{ 'confirm' : 'Are you sure you want to delete this item?', 'method':'post' }
		}) | raw }}
	</p>
	
	<div class="gallery-view">
		
		<div class="box box-default">
			<div class="box-header">
				Main information
			</div>
			<div class="box-body">
				
				{{ detail_view_widget({
					'model':model,
					'attributes' : [
					'id',
					'title',
					'name',
					]
				}) }}
			</div>
		</div>
	
	</div>
	
	<div class="gallery-view-images">
		{% for image in photos %}
			<div class="gallery-view-image">
				<p><img src="{{ image.thumb }}" alt=""></p>
				<p>
					<a href="{{ path('move-photo-to-start', {'galleryId': model.id, 'photoId' : image.id }) }}">
						<i class="fa fa-angle-double-left fa-lg" aria-hidden="true"></i>
					</a>
					<a href="{{ path('move-photo-prev', {'galleryId': model.id, 'photoId' : image.id }) }}">
						<i class="fa fa-angle-left fa-lg" aria-hidden="true"></i>
					</a>
					<a href="{{ path('delete-photo', {'galleryId': model.id, 'photoId' : image.id }) }}">
						<i class="fa fa-times fa-lg" aria-hidden="true"></i>
					</a>
					<a href="{{ path('move-photo-next', {'galleryId': model.id, 'photoId' : image.id }) }}">
						<i class="fa fa-angle-right fa-lg" aria-hidden="true"></i>
					</a>
					<a href="{{ path('move-photo-to-end', {'galleryId': model.id, 'photoId' : image.id }) }}">
						<i class="fa fa-angle-double-right fa-lg" aria-hidden="true"></i>
					</a>
				</p>
			</div>
		{% endfor %}
	</div>
	
	
	<div class="photo-upload-form">
		
		{% set form=active_form_begin({
			'options' : {
				'enctype' : 'multipart/form-data'
			}
		}) %}
		
		{{ form.field(uploadForm, 'files[]').label(false).widget('kartik\\file\\FileInput', {
			'options' : {
				'accept' : 'image/*',
				'multiple' : true,
			}
		}) | raw }}
		
		<div class="form-group">
			{{ html.submitButton('Upload', {
				'class' : 'btn btn-primary',
			}) | raw }}
		</div>
		
		{{ active_form_end() }}
	
	</div>
</div>


