{{ use('backend/assets/AppAsset') }}
{{ use('dmstr/web/AdminLteAsset') }}

{{ register_app_asset() }}
{{ register_admin_lte_asset() }}

{% set directoryAsset = app.assetManager.getPublishedUrl('@vendor/almasaeed2010/adminlte/dist') %}

{{ this.beginPage() }}
<!DOCTYPE html>
<html lang="{{ app.language }}">
<head>
	<meta charset="{{ app.charset }}"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{ html.csrfMetaTags | raw }}
	<title>{{ html.encode(this.title) }}</title>
	{{  this.head() }}
</head>
<body class="hold-transition skin-blue sidebar-mini">
{{ this.beginBody() }}
<div class="wrapper">
	
	{{ this.render('header.twig', { 'directoryAsset' : directoryAsset }) | raw }}
	
	{{ this.render('left.twig', { 'directoryAsset' : directoryAsset }) | raw }}
	
	{{ this.render('content.twig', { 'content' : content, 'directoryAsset' : directoryAsset }) | raw }}

</div>

{{ this.endBody() }}
</body>
</html>
{{ this.endPage() }}

