{{ register_asset_bundle('dmstr/web/AdminLteAsset') }}
{{ void(this.beginPage()) }}
<!DOCTYPE html>
<html lang="{{ app.language }}">
<head>
	<meta charset="{{ app.charset }}"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{  html.csrfMetaTags() | raw }}
	<title>{{  html.encode(this.title) }}</title>
	{{  this.head() }}
</head>
<body class="login-page">

{{ this.beginBody() }}

{{ content | raw }}

{{  this.endBody() }}
</body>
</html>
{{  this.endPage() }}
