{{ use('yii/widgets/Pjax') }}
{{ use('yii/grid/GridView') }}

{{ set(this, 'title', 'Articles') }}
{{ set(this, 'params', { 'breadcrumbs': [ { 'label':this.title } ] }) }}

<div class="article-index">
	

	{{  pjax_begin() }}
	<p>
		{{  html.a('Create Article', ['create'], { 'class' : 'btn btn-success'}) | raw }}
	</p>
	
	{{ grid_view_widget({
        'dataProvider' : dataProvider,
		'filterModel' : searchModel,
		'columns' : [
		{
			'class' : 'yii\\grid\\ActionColumn',
		},
		'id',
		'title',
		'category_id',
		'author',
		
		'status',
		'favorite',
		'created_at',
		'updated_at',
		'publishing_at',
		],
	}) }}
	{{  pjax_end() }}
</div>
