{{ use('yii/widgets/Pjax') }}
{{ use('yii/grid/GridView') }}

{{ set(this, 'title', 'Articles') }}
{{ set(this, 'params', { 'breadcrumbs': [ { 'label':this.title } ] }) }}

<div class="article-index">
	

	{{  pjax_begin() }}
	<p>
		{{  html.a('Synchronize data', path(['synchronization']), {'class' : 'btn btn-primary'}) | raw }}
		{{  html.a('Create Article', path(['create']), { 'class' : 'btn btn-success'}) | raw }}
	</p>
	
	{{ grid_view_widget({
        'dataProvider' : dataProvider,
		'filterModel' : searchModel,
		'columns' : [
		{
			'class' : 'yii\\grid\\ActionColumn',
		},
		'id',
		'title',
		'category',
		'author',
		'creator',
		'status',
		'favorite',
		'createdAt',
		'updatedAt',
		'publishingAt',
		],
	}) }}
	{{  pjax_end() }}
</div>
