{{ use('yii/widgets/ActiveForm') }}
{{ use('kartik/file/FileInput') }}

<div class="menu-form">
	
	{% set form=active_form_begin({
		'options' : {
			'enctype' : 'multipart/form-data'
		}
	}) %}
	
	{{ form.field(model, 'title').textInput({ 'maxlength' : true }) | raw }}
	
	{{ form.field(model, 'name').textInput({ 'maxlength' : true }) | raw }}
	
	{{ form.field(model, 'parentId').dropDownList(list) | raw }}
	
	{{ form.field(model, 'description').textInput() | raw }}
	
	{{ form.field(model, 'type').dropDownList(model.getItemTypes()) | raw }}
	
	{{ form.field(model, 'relation').dropDownList(['----']) | raw }}
	
	{{ form.field(model, 'status').checkbox() | raw }}
	
	
	{{ form.field(uploadForm, 'files[]').label(false).widget('kartik\\file\\FileInput', {
		'options' : {
			'accept' : 'image/*',
			'multiple' : false,
		}
	}) | raw }}
	
	<div class="form-group">
		{{ html.submitButton('Save', { 'class' : 'btn btn-success' }) | raw }}
	</div>
	
	{{ active_form_end() }}

</div>

