{{ use('yii/widgets/DetailView') }}

{{ set(this, 'title', model.title) }}
{{ set(this, 'params', { 'breadcrumbs' : [
	{ 'label' : 'Menus', 'url' : path(['/menu/index']) },
	{ 'label' : model.title },
	]}) }}

<div class="menu-view">
	
	<p>
		{{  html.a('Update', path('update', { 'menuId' : model.parentId, 'id' : model.id }),
		{ 'class' : 'btn btn-primary'}) | raw }}
		{{  html.a('Delete', path('delete', { 'id' : model.id }), {
			'class' : 'btn btn-danger',
			'data' : {
				'confirm' : 'Are you sure you want to delete this item?',
				'method' : 'post',
			},
		}) | raw }}
	</p>
	
	{{  detail_view_widget({
		'model' : model,
		'attributes' : [
		'id',
		'title',
		'name',
		'description',
		'status',
		],
	}) }}
	
</div>
