{{ use('yii/widgets/DetailView') }}
{{ use('kartik/file/FileInput') }}
{{ use('yii/widgets/ActiveForm') }}

{{ set(this, 'title', model.title) }}
{{ set(this, 'params', { 'breadcrumbs' : [
	{ 'label' : 'Menus', 'url' : path(['/menu/index']) },
	{ 'label' : model.menu.title, 'url' : path('/menu/view', { 'id' : model.menu.id }) },
	{ 'label' : 'items', 'url' : path('menu-item/index', { 'menuId' : model.menu.id }) },
	{ 'label' : model.title },
	]}) }}

<div class="menu-view">
	
	<p>
		{{  html.a('Update', path('update', { 'menuId' : model.parentId, 'id' : model.id }),
		{ 'class' : 'btn btn-primary'}) | raw }}
		{{  html.a('Delete', path('delete', { 'menuId' : model.menu.id, 'id' : model.id }), {
			'class' : 'btn btn-danger',
			'data' : {
				'confirm' : 'Are you sure you want to delete this item?',
				'method' : 'post',
			},
		}) | raw }}
	</p>
	
	{{  detail_view_widget({
		'model' : model,
		'attributes' : [
		'id',
		'title',
		'name',
		'description',
		{
			'attribute' : 'parentId',
			'value' : model.parentId
		},
		{
			'attribute' : 'status',
			'value' : isActive,
			'format' : 'raw'
		},
		{
			'attribute' : 'type',
			'value' : types
		},
		'relation',
		{
			'attribute' : 'img',
			'value' : thumb,
			'format' : 'raw'
		},
		],
	}) }}
	
	<div class="photo-upload-form">
		
		{% set form=active_form_begin({
		'options' : {
		'enctype' : 'multipart/form-data'
		}
		}) %}
		
		{{ form.field(uploadForm, 'files[]').label(false).widget('kartik\\file\\FileInput', {
			'options' : {
				'accept' : 'image/*',
				'multiple' : false,
			}
		}) | raw }}
		
		<div class="form-group">
			{{ html.submitButton('Upload', {
				'class' : 'btn btn-primary',
			}) | raw }}
		</div>
		
		{{ active_form_end() }}
	
	</div>
</div>
